.default-color0.chart-series-line {
     -fx-stroke: black;
 }

.default-color0.chart-line-symbol {
    -fx-background-color: transparent, transparent;
}

.default-color0.chart-legend-item-symbol {
    -fx-background-color: black;
}